body{
    background-color: purple;
    color: white;
}
.container{
    padding-top: 2em;
}
//Landing page
.landing{
    height: 100%;
    width: 100%;
    padding-top: 20em;
    color: white;
    @media only screen and (max-width: 768px) {
        padding-top: 4em;
    }
}
.landing a{
    color: #ffccff;
}

.choice{
    font-size: 10em;
    @media only screen and (max-width: 768px) {
        font-size: 7em;
    }
}
.pick:hover{
    background: #660066;
}
.landing h1:first-of-type{
    background: #660066;
}
//Bus page
.locationInput{
    padding: 0.5em;
    color: white !important;
    font-size: 3em !important;
    border-bottom: 1px solid white;
    @media only screen and (max-width: 768px) {
        font-size: 1.5em !important;
    }
}
.locationInput input{
    color: white !important;
}
#getLocation{
    font-size: 3em;
    @media only screen and (max-width: 768px) {
        font-size: 1.5em !important;
    }
    cursor: pointer;
}
.searchEntity{
    cursor: pointer;
}
.searchEntity:hover{
    background-color: #660066 !important;
}
#locationLoader{
    display: none;
}
.stopLetter, .arrivalTime{
    color: white;
    background: rgb(220, 36, 31);;
    border: 2px solid white;
    border-radius: 20px;
    width: 40px; height: 40px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    line-height: 35px;
    user-select: none;
    margin-right: 1em;
}
.arrivalTime{
    width: 60px;
    font-size: 25px;
    color: rgb(220, 36, 31);
    background: white;
    border: 2px solid rgb(220, 36, 31);
}
#stopsContainer{
    max-width: 600px;
    margin: 20px auto;
}
#stopsContainer tr{
    cursor: pointer;
}
#stopsContainer tr:hover{
    background-color: #660066;
}