<% include partials/header %>
    <div class="ui container center aligned">
        <i id="getLocation" class="location arrow icon"></i>
        <div class="ui search transparent input locationInput">
            <input class="prompt" id="searchInput" type="text" placeholder="Search stops..." autocomplete="off">
        </div>

        <div id="stopsContainer">

        </div>
    </div>

    <div id="locationLoader" class="ui active dimmer">
        <div class="ui text loader">Loading</div>
    </div>

    <script src="js/bus.js"></script>
    <script src="js/location.js"></script>
<% include partials/footer %>