<% include partials/header %>
    <div class="landing">
        <div class="ui center aligned doubling stackable grid container">
            <h1 class="rounded">Get me a bus!</h1>
            <div class="three column row choice">
                <a href="/bus" class="column pick"><div >
                    <p><i class="bus icon"></i></p>
                </div></a>
                <a class="column pick"><div >
                    <p><i class="subway icon"></i></p>
                </div></a>
                <a class="column pick"><div >
                    <p><i class="train icon"></i></p>
                </div></a>
            </div>
        </div>
    </div>

<% include partials/footer %>