body {
  background-color: purple;
  color: white; }

.container {
  padding-top: 2em; }

.landing {
  height: 100%;
  width: 100%;
  padding-top: 20em;
  color: white; }
  @media only screen and (max-width: 768px) {
    .landing {
      padding-top: 4em; } }

.landing a {
  color: #ffccff; }

.choice {
  font-size: 10em; }
  @media only screen and (max-width: 768px) {
    .choice {
      font-size: 7em; } }

.pick:hover {
  background: #660066; }

.landing h1:first-of-type {
  background: #660066; }

.locationInput {
  padding: 0.5em;
  color: white !important;
  font-size: 3em !important;
  border-bottom: 1px solid white; }
  @media only screen and (max-width: 768px) {
    .locationInput {
      font-size: 1.5em !important; } }

.locationInput input {
  color: white !important; }

#getLocation {
  font-size: 3em;
  cursor: pointer; }
  @media only screen and (max-width: 768px) {
    #getLocation {
      font-size: 1.5em !important; } }

#locationLoader {
  display: none; }

.stopLetter, .arrivalId {
  color: white;
  background: #dc241f;
  border: 2px solid white;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  line-height: 35px;
  user-select: none;
  margin-right: 1em; }

.arrivalId {
  width: 60px;
  font-size: 25px;
  color: #dc241f;
  background: white;
  border: 2px solid #dc241f; }

.arrivalTime {
  text-align: right !important; }

.arrivalTime strong:first-of-type {
  font-size: 24px; }

.towardsText {
  text-align: left; }

.arrivalEntity, .stopEntity, .searchEntity {
  background: #a333c8;
  border-bottom: 2px solid purple;
  cursor: pointer;
  margin: auto 20px !important; }

.arrivalEntity:hover, .stopEntity:hover, .searchEntity:hover {
  background-color: #660066; }

.entityText {
  font-size: 16px; }

#stopsContainer {
  max-width: 550px;
  width: 100%;
  margin: 20px auto; }

#stopsContainer > div:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

#stopsContainer > div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
