body {
  background-color: purple;
  color: white; }

.container {
  padding-top: 2em; }

.landing {
  height: 100%;
  width: 100%;
  padding-top: 20em;
  color: white; }
  @media only screen and (max-width: 768px) {
    .landing {
      padding-top: 4em; } }

.landing a {
  color: #ffccff; }

.choice {
  font-size: 10em; }
  @media only screen and (max-width: 768px) {
    .choice {
      font-size: 7em; } }

.pick:hover {
  background: #660066; }

.landing h1:first-of-type {
  background: #660066; }

.locationInput {
  padding: 0.5em;
  color: white !important;
  font-size: 3em !important;
  border-bottom: 1px solid white; }
  @media only screen and (max-width: 768px) {
    .locationInput {
      font-size: 1.5em !important; } }

.locationInput input {
  color: white !important; }

#getLocation {
  font-size: 3em;
  cursor: pointer; }
  @media only screen and (max-width: 768px) {
    #getLocation {
      font-size: 1.5em !important; } }

.searchEntity {
  cursor: pointer; }

.searchEntity:hover {
  background-color: #660066 !important; }

#locationLoader {
  display: none; }

.stopLetter, .arrivalId {
  color: white;
  background: #dc241f;
  border: 2px solid white;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  line-height: 35px;
  user-select: none;
  margin-right: 1em; }

.arrivalId {
  width: 60px;
  font-size: 25px;
  color: #dc241f;
  background: white;
  border: 2px solid #dc241f; }

.arrivalDest {
  display: inline-block;
  font-size: 16px; }

.arrivalTime {
  text-align: right !important; }

.arrivalTime strong:first-of-type {
  font-size: 24px; }

#stopsContainer {
  max-width: 600px;
  margin: 20px auto; }

#stopsContainer tr {
  cursor: pointer; }

#stopsContainer tr:hover {
  background-color: #660066; }
